/*

## Colors
- Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)

## The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

### Body Copy
- Font size: 13px

*/


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



body {
    background-color:hsla(212, 23%, 69%, 0.5);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
} 


.container {
    margin: 200px  auto; 
    display: flex; 
    max-width : 730px; 
    min-height : 280px; 
    background-color: hsl(210, 46%, 95%);
    border-radius: 10px; 
}

/***********COL 1 IMAGE*************/

.container div.col-1 div.image {
   
    height: 100%; 
    display: flex;
}

.col-1 img {
   
    max-width: 280px;
    object-position: left;
    object-fit: cover; 
    border-radius: 10px 0 0 10px;
    
}
/****** COL 2 ************/

.container div.col-2 {
  
    padding: 4% 50px 10px 40px; 
    color: hsl(217, 19%, 35%);
}

.col-2 h2 {
    margin-top: 0; 
}

/***********COL 2 AUTHOR CONTAINER*********/

.col-2 div.author {
    display : flex; 
    flex-direction: row; 
    justify-content: left; 
    width: 100%;    
    margin-top: 20px;
    color: hsl(217, 19%, 35%);

}

/**********COL 2 AUTHOR TEXT ************/
div.author div:first-of-type {
    margin-left: 15px;
}
.col-2 h3 {
    padding: 1px; 
    margin: 1px; 
    font-size: 13px;
    
}
.col-2 p {
    padding: 1px; 
    margin: 1px; 
    font-size: 13px;
    font-weight: 400; 
}

.col-2 .author-image {
    height: 40px;
    max-width: 40px;
    object-fit: cover; 
    border-radius: 100%;
} 

/* *******IMAGES POPUP ICON******** */

#links {
    
    margin-left: auto;
    box-sizing: border-box;
    background-color: hsla(212, 23%, 69%, 0.3);
    width: 35px; 
    height: 35px; 
    padding: 8px; 
    object-fit: contain;
    border-radius: 100%;
    
}

#links:hover {
    background-color: hsl(212, 23%, 69%);
}

/******* POPUP LINKS BAR ***********/
.col-2 div.linksBar {
    box-sizing: border-box;
    bottom: 100px; 
    width : 200px; 
    height : 50px; 
    justify-content: center;
    background-color: hsl(217, 19%, 35%);
    padding: 10px; 
    border-radius: 10px;
    transition: all .5s .3s;
    color: hsl(212, 23%, 69%);
    padding-top: 15px; 
}
.appear {
    opacity: 1; 
}
.disappear {
    opacity: 0; 
}

.linksBar a img {
    width: 20px;  
    height: 20px; 
}


